<<<<<<< HEAD
#root {
  background-color: #234453;
=======
body {
  background-color: #234453;
  color: white;
}

.index{
  text-align: center;
>>>>>>> 1bd9e68bbe99b912eb262c2c61249e2222a21aef
  color: white;
  font-size: 18px;
  border-color: #234453;
}

#root {
  background-color: #234453;
  color: white;
  font-size: 18px;
  border-color: #234453;
}

.about-box{
  background-color: #84eab5;
  color: #234453;
  margin-top: 10px;
  font-size: 22px;
}
.about-heading{
  margin: 10px;
}
.about-content{
  margin: 5px;
  font-size: 18px;
  padding: 10px;
}
nav{
  width: auto;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #234453;
  border-radius: 4px;
  background-color: #84eab5;
}
.nav-a{
  display: inline;
  padding-left: 10px;
  width: 128px;
  height: 100px;
}

#logo{
  width: auto;
  height: auto;
  box-sizing: border-box;

  border: 2px solid #234453;
  border-radius: 4px;
}
  
.UIComponent {
  background-color: #84eab5;
  color: black;
}
<<<<<<< HEAD
ul{
  list-style-type: none;
  display: inline;
}
=======

>>>>>>> 1bd9e68bbe99b912eb262c2c61249e2222a21aef
li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline;
}

a:link {color: #234453;}
 
a:visited {color: #234453;}
 
a:hover {background-color: #234453; color:white; font-style: italic;}

.home-content{
  padding: 10px;
}

<<<<<<< HEAD
.footer{
  background-color: #84eab5;
  padding: 10px;
  color: #234453;

  bottom:0;
  left:0;
  width:100%;
}

.footer-content{
  display: inline;
  color: #234453;
}

input[type=text] {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  box-sizing: border-box;
  border: 2px solid #234453;
  border-radius: 4px;
  font-size: 16px;
  background-color: #84eab5;
  background-image: url('./search.svg');
  background-position: center; 
  background-repeat: no-repeat;

  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
  background-position: right;
  padding: 5px;
}

input[type=text] {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  box-sizing: border-box;
  border: 2px solid #234453;
  border-radius: 4px;
  font-size: 16px;
  background-color: #84eab5;
  background-image: url('./search.svg');
  background-position: center; 
  background-repeat: no-repeat;

  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 45%;
  background-position: right;
  padding: 5px;
}
=======

>>>>>>> 1bd9e68bbe99b912eb262c2c61249e2222a21aef
