.App, body {
  /* text-align: center; */
  background-color: #234453;
  color: white;
}

.UIComponent {
  background-color: #84eab5;
  color: black;
}

.Dark-link {
  color: #234453;
}

.Light-link {
  color: white;
}
