@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-header {
    @apply text-2xl text-white p-4 m-2
}

.custom-button {
    @apply appearance-none block w-full rounded-md bg-pearl-aqua text-japanese-indigo px-3.5 py-2.5 
    text-center font-semibold shadow-sm hover:bg-metallic-steel 
    focus:outline-none focus-visible:ring
}

.sm-custom-button {
    @apply appearance-none block rounded-md bg-pearl-aqua text-japanese-indigo px-3.5 py-2.5 
    text-center font-semibold shadow-sm hover:bg-metallic-steel 
    focus:outline-none focus-visible:ring
}

.custom-label {
    @apply block mb-2 text-pearl-aqua text-sm
}


.custom-table {
    @apply m-4 border-collapse border-2 border-pearl-aqua table-auto
}

.custom-th {
    @apply border-2 border-solid border-pearl-aqua p-2 text-center
}

.custom-td {
    @apply border border-solid border-pearl-aqua p-2 text-left
}

.required-input {
    @apply appearance-none block w-full bg-gray-200 text-black border 
    required:border-red-500 rounded py-3 px-4 mb-3 focus:outline-none 
    focus:bg-white focus:border-gray-500 
}

.hidden-invalid-p {
    @apply collapse text-tesla-red text-xs italic mx-4 
}

.visible-invalid-p {
    @apply visible text-tesla-red text-xs italic mx-4 
}

.outer-panel-div {
    @apply grid grid-cols-6 border-t-2 border-pearl-aqua
}

.inner-panel-img-div {
    @apply pt-3 col-start-1 col-span-1 hover:scale-150
}

.popup-bg {
    @apply fixed w-full h-max flex justify-center items-center bg-gray-200
}
.popup-content {
    @apply p-8 relative w-full bg-japanese-indigo text-white
}